<nav class="flex items-center justify-between flex-wrap px-8 py-2 mb-6 border-b-2 border-gray-300">
  <div class="flex items-center text-white mr-6">
    <span class="font-semibold text-2xl text-indigo-800 tracking-tight">Tail To Do</span>
  </div>
  <div class="flex pl-6 py-4">
    <input class="bg-transparent placeholder-gray-500 focus:outline-none border-b-2 border-gray-400 py-1 block w-64 appearance-none leading-normal focus:border-indigo-700" placeholder="Quick Add To Inbox (Press ` 192)">
    <p class="pl-6 pt-3 font-bold uppercase text-tighter text-gray-400 text-xs invisible">
      Return to save
    </p>
  </div>
  <div class="block flex">
    <div class="w-full block flex items-center w-auto">
      <div>
        <% if signed_in? %>
          <%= link_to "Lists", lists_path, class: "inline-block font-bold text-sm text-indigo-800 hover:text-indigo-400 mr-4" %>
          <%= link_to "All Tasks", '#', class: "inline-block font-bold text-sm text-indigo-800 hover:text-indigo-400 mr-4" %>
          <%= link_to "Settings", '#', class: "inline-block font-bold text-sm text-indigo-800 hover:text-indigo-400 mr-4" %>
          <%= link_to "Sign Out", sign_out_path, method: :delete, class: "inline-block font-bold text-sm text-indigo-800 hover:text-indigo-400" %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path, class: "font-bold text-sm text-indigo-800 hover:text-indigo-400" %>
          <%= link_to "Sign In", sign_in_path, class: "font-bold text-sm text-indigo-800 hover:text-indigo-400" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
